body {
  color: #333;
  background-color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

#navbar {
  display: flex;
  justify-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #e2e2e2;
  height: 42px;
  width: 100%;
  background-color: #fff;
}

.navbar-content {
  margin: 0 auto;
  height: 36px;
  width: 100%;
  max-width: 1605px;
  padding: 4px 15px 2px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.icon {
  box-sizing: border-box;
  padding: 7px 9px 9px 9px;
  width: 34px;
  height: 33px;
  text-align: center;
}

.icon:first-of-type {
  padding-left: 0px;
  margin-left: 3px;
}

.icon i {
  font-size: 15px;
  line-height: 16px;
}

.section-label {
  font-size: 14.25px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 20px;
  margin-left: 19px;
}

.section-label a {
  text-decoration: none;
  color: #000;
}

.section-label a:hover {
  text-decoration: underline;
}

.navbar-center {
  flex-grow: 1;
  height: 26px;
  text-align: center;
  align-self: center;
  margin-left: -25px;
}

.navbar-center img {
  height: 26.5px;
}

.navbtn {
  padding: 11px 12px 8px;
  border-radius: 3px;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  transition: all 0.6s ease 0s;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-right: 7px;
}

.navbtn:last-of-type{
  margin-right: 2px;
}

.subscribe:hover {
  border: 1px solid rgb(50, 104, 145);
  background-color: rgb(50, 104, 145);
}

#container {
  padding-top: 40px;
  margin: 0 auto 20px;
}

#title {
  margin-top: 3.75rem;
  display: block;
}

.article-title {
  width: 600px;
  margin: 0 auto 1rem;
}

.article-title h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  color: #121212;
  font-weight: 700;
  font-style: italic;
}

.header-photo {
  width: 1200px;
  margin: 25px auto 43px;
}

.header-photo img {
  max-width: 100%;
}

.header-caption {
  width: 900px;
  color: #666;
  margin: 10px 20px 0 0;
  text-align: left;
}

.header-caption .caption {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-right: 7px;
}

.header-caption .credit {
  font-size: 0.8125rem;
  color: #888;
  line-height: 1.25rem;
  letter-spacing: 0.01em;
}

.article-info {
  width: 600px;
  margin: 0 auto 25px;
}

.byline {
  margin-bottom: 15px;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.byline a {
  color: #333;
  text-decoration-color: #ccc;
}

.byline a:hover {
  text-decoration: none;
}

.published-share {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  flex-shrink: 1;
  padding-right: 1rem;
  font-family: helvetica, arial, sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.socials {
  height: 35px;
  line-height: 35px;
}

.socials i {
  margin-right: 16px;
}