body {
  color: #333;
  background-color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

#navbar {
  display: flex;
  justify-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #e2e2e2;
  height: 42px;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.navbar-content {
  margin: 0 auto;
  height: 36px;
  width: 100%;
  max-width: 1605px;
  padding: 4px 15px 2px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.icon {
  box-sizing: border-box;
  padding: 7px 9px 9px 9px;
  width: 34px;
  height: 33px;
  text-align: center;
}

.icon:first-of-type {
  padding-left: 0px;
  margin-left: 3px;
}

.icon i {
  font-size: 15px;
  line-height: 16px;
}

.section-label {
  font-size: 14.25px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 20px;
  margin-left: 19px;
}

.section-label a {
  text-decoration: none;
  color: #000;
}

.section-label a:hover {
  text-decoration: underline;
}

.navbar-center {
  flex-grow: 1;
  height: 26px;
  text-align: center;
  align-self: center;
  margin-left: -25px;
}

.navbar-center img {
  height: 26.5px;
}

.btn {
  padding: 11px 12px 8px;
  border-radius: 3px;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  transition: all 0.6s ease 0s;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-right: 7px;
}

.btn:last-child {
  margin-right: 2px;
}

.btn:hover {
  border: 1px solid rgb(50, 104, 145);
  background-color: rgb(50, 104, 145);
}

#container {
  padding-top: 40px;
  margin: 0 auto 20px;
}

#title {
  margin-top: 3.75rem;
  display: block;
}

.article-title {
  width: 600px;
  margin: 0 auto 1rem;
}

.article-title h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  color: #121212;
  font-weight: 700;
  font-style: italic;
}

.header-photo {
  width: 1200px;
  margin: 25px auto 43px;
}

.header-photo img {
  max-width: 100%;
}

.header-caption {
  width: 900px;
  text-align: left;
}

figcaption {
  margin: 10px 20px 0 0;
}

figure .caption {
  color: #666;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-right: 7px;
}

figure .credit {
  font-size: 0.8125rem;
  color: #888;
  line-height: 1.25rem;
  letter-spacing: 0.01em;
}

.article-info {
  width: 600px;
  margin: 0 auto 25px;
}

.byline {
  margin-bottom: 15px;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.byline a {
  color: #333;
  text-decoration-color: #ccc;
}

.byline a:hover {
  text-decoration: none;
}

.published-share {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  flex-shrink: 1;
  padding-right: 1rem;
  font-family: helvetica, arial, sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 0.8125rem;
  line-height: 1rem;
}

.socials {
  height: 35px;
  line-height: 35px;
}

.socials i {
  margin-right: 16px;
}

.container {
  width: 1200px;
  margin: 0 auto 1rem;
  display: flex;
}

.article-body {
  width: 600px;
  margin-left: 300px;
}

.story {
  margin-bottom: 0.9375rem;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.story:last-child {
  margin-bottom: 0;
}

.story a {
  color: #326891;
  text-decoration: underline;
}

.story a:hover {
  text-decoration: none;
}

.subtitle {
  margin-bottom: 15px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 700;
}

.sidebar {
  width: 210px;
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}

.editors-picks {
  width: 100%;
}

.editors-picks h2 {
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  color: #000;
  border-bottom: 1px solid rgb(226,226,226);
  margin-bottom: 15px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

.rec-article {
  display: flex;
  margin-bottom: 15px;
}

.rec-article img {
  width: 75px;
  height: 75px;
}

.rec-article h3 {
  width: 125px;
  margin: auto 0 auto 10px;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: rgb(51,51,51);
}

.rec-article h3:hover {
  text-decoration: underline;
}

.interactive-container {
  width: 945px;
  margin: 0 auto 20px;
}

.interactive-content {
  padding: 15px 0;
}

.interactive-header {
  margin-bottom: 10px;
}

.interactive-header h3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-bottom: 2px;
  color: #000;
}

.interactive-header p {
  font-size: .875rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  color: #666;
}

.interactive-graphic {
  background-image: url(../images/inflation.png);
  background-size: 100% 100%;
  width: 945px;
  height: 576px;
  position: relative;
}

.interactive-graphic p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
}

.interactive-graphic .subtitle {
  font-size: 11px;
  line-height: 17px;
  font-weight: bold;
  letter-spacing: .05em;
  margin-right: 5px;
}

.i1 {
  width: 228px;
  position: absolute;
  top: 24.5%;
  left: 0;
}

.i2 {
  width: 228px;
  position: absolute;
  top: 24.5%;
  left: 25.5%;
}

.i3 {
  width: 228px;
  position: absolute;
  top: 24.5%;
  right: 25.5%
}

.i4 {
  width: 228px;
  position: absolute;
  top: 24.5%;
  right: 0;
}

.i5 {
  width: 228px;
  position: absolute;
  bottom: 2.5%;
  left: 0;
}

.i6 {
  width: 228px;
  position: absolute;
  bottom: 2.5%;
  left: 25.5%;
}

.i7 {
  width: 228px;
  position: absolute;
  bottom: 2.5%;
  right: 25.5%
}

.i8 {
  width: 228px;
  position: absolute;
  bottom: 2.5%;
  right: 0;
}

.interactive-footer {
  width: 945px;
  margin-top: 24px;
}

.interactive-footer::before {
  width: 60px;
  content: '';
  display: inline-block;
  height: 1px;
  margin: 0 0 13px;
  background-color: #000;
}

.interactive-footer .credit {
  font-size: .875rem;
  line-height: 1.125rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
}

.youtube {
  width: 600px;
  margin: 43px auto;
}

.video-container {
  width: 600px;
  height: 357.5px;
}

.picture {
  width: 720px;
  margin: 2.6875rem auto;
}

.picture img  {
  width: 100%;
}

.article-bottom {
  margin: 0 auto;
  width: 600px;
}

.orig {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 1em;
  color: rgb(102,102,102);
}

.orig a {
  color: rgb(102,102,102);
  text-decoration: underline;
}

.orig a:hover {
  text-decoration: none;
}

.comments-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto 32px;
}

.comments-socials .btn {
  padding: 5px 0;
  line-height: 1.5rem;
  font-size: 0.8125rem;
  width: 330px;
}

.more {
  width: 1200px;
  padding: 20px 3% 0;
  margin: 34px auto 0;
  display: flex;
}

.more h2 {
  font-size: 1rem;
  line-height: 1.375rem;
  padding-top: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  box-sizing: border-box;
}

.more-articles {
  width: 80%;
  max-width: 852px;
}

.recs {
  max-width: 852px;
  border-top: 1px solid #000;
}

.articles-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15px;
}

.article-rec {
  padding-bottom: 20px;
  max-width: 32%;
  flex-basis: 32%;
}

.article-rec img {
  width: 100%;
}

.article-rec figcaption {
  padding-bottom: 4px;
  margin: 3px 0 0 0;
  font-size: 0.625rem;
  text-align: right;
  color: rgb(153,153,153);
  line-height: 1.23em;
}

.article-rec h3 {
  padding-right: 10px;
  font-size: 1.125rem;
  line-height: 22px;
  color: rgb(18,18,18);
}

.article-rec p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.3px;
  color: rgb(153,153,153);
}

.popular {
  width: 320px;
  margin-left: 30px;
  padding-bottom: 15px;
  border-top: 1px solid #000;
}

.popular h3 {
  border-bottom: 1px solid rgb(226,226,226);
  padding: 15px 0;
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  color: rgb(18,18,18);
  font-weight: 500;
}

.popular h3:first-of-type {
  border-top: 1px solid rgb(226,226,226);
  margin-top: 15px;
}

#footer {
  padding: 0 3% 45px;
  margin: 0 auto;
  width: 1200px;
  font-size: 11px;
  border-top: 1px solid #ebebeb;
  padding-top: 9px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.footer-item {
  margin: 0 0 35px;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
}